/*=============== Content Sections Container ===============*/
.content-sections {
  position: relative;
  background: var(--content-section-bg);
  color: var(--sections-font-clr);
  width: 100%;
  padding: 0 18px;
  margin-top: 403px;
  z-index: 3;
  max-height: 100%;
}

.content-sections section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  /* border-bottom: 1px solid black; */
  margin-bottom: 0px;
  scroll-snap-align: start;
}

.content-sections section:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
  min-height: fit-content;
  padding-top: 5px;
}

.section-heading{
  font-size: 2rem;
  color: var(--sections-heading-font-hightlight);
  text-align: left;
}

/*=============== HOME SECTION ===============*/
.home-section{
  padding-top: 12%;
  padding-bottom: 118px;
}

.home-section h1{
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center;
  color: var(--sections-heading-font-hightlight);
}

/*=============== ABOUT SECTION ===============*/
.about-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

.about-section .section-heading{
  text-align: left;
}

.about-section .about-me{
  margin-top: 0;
}

.about-item {
  width: 100%;
  margin: 0.5rem 0;
  margin-bottom: 35px;
}

.about-item__heading{
  color: var(--sections-heading-font-hightlight);
  margin-bottom: 10px;
}

.tools-and-languge-container{
  display: grid;
  gap: 20px;
}

.tools-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 13px; 
  max-width: 100%; 
}

.about-section .tool {
  display: flex;
  align-items: center;
  gap: 7px;
  text-align: center;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s;
}

.about-section .tool:hover{
  background-color: #41339b60
}

.tool-icon{
  --size: 30px;

  width: var(--size);
  height: var(--size);
  border-radius: 5px;
}

.tool-label{
  margin-bottom: 0;
}

.about-section .language {
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
  display: inline-block;
}

.about-section .language:nth-child(2){
  margin-right: 30px;
}

.about-section .language-label{
  margin: 0;
  font-weight: 500;
}

.about-section .language-bar {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.about-section .language-bar span {
  height: 8px;
  float: left;
  background: #41339bb4;
}

/* .about-section .language .first-bar {
  width: 100%;
}

.about-section .language .second-bar {
  width: 75%;
} */

/*=============== PROJECTS SECTION ===============*/
.projects-section{
  padding-bottom: 120px;
}

.projects-section .section-heading{
  padding-bottom: 5px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  max-width: 100%;
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: var(--light-grey);
  border-radius: 5px;
  color: transparent;
  width: 100%;
  height: 270px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.502);
}

.project-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: contrast(70%) brightness(110%) grayscale(20%);
}

.project-card__overlay {
  position: relative;
  background: #473aa0dd;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 0%;
  height: 100%;
  color: white;
  z-index: 2;
  transition: 0.5s ease;
}

.project-details {
  max-width: 230px;
  margin: 20px;
  margin-top: 0;
  position: absolute;
  left: -250px;
  top: 27px;
  transition: 0.5s ease;
}

.project-title{
  margin-bottom: 2px;
  font-size: 1.3rem;
}

.project-description{
  opacity: 0.8;
  line-height: 1.3em;
  font-size: 0.9rem;
  text-align: justify;
}

.project-view-btn{
  position: absolute;
  bottom: 10px;
  left: -250px;
  transform: translate(-50% -50%);
  padding: 5px 20px;
  border: none;
  border-radius: 40px;
  color: black;
  background-color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.5s ease;
}

/* Project Overlay When Hover */
.project-card:hover .project-card__overlay {
  width: 100%;
  transition: 0.5s ease;
}

.project-card:hover .project-details {
  left: 0;
  transition: 0.5s ease;
}

.project-card:hover .project-view-btn{
  left: 30%;
  transition: 0.5s ease;
}

/*=============== EXPERIENCE SECTION ===============*/
.experience-section{
  padding-bottom: 80px;
}

.timeline-container {
  position: relative;
  height: 100%;
}

.timeline-container::before {
  content: "";
  position: absolute;
  width: 2px;
  top: 25px;
  height: calc(100% - 75px);
  background-color: var(--accent-color);
  z-index: 100;
}

.timeline-date {
  position: relative;
}

.timeline-date::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  left: -25px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.timeline-item-list {
  margin-left: 20px;
}

.timeline-item {
  margin: 45px 0;
}

.timeline-item:first-child {
  margin: 20px 0;
}

/*=============== CONTACT SECTION ===============*/
.contact-section{
  padding-bottom: 14px;
}

.contact-section .section-heading{
  margin-bottom: 20px;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-box input,
textarea {
  width: 100%;
  color: var(--accent-color);
  font-size: 1rem;
  margin-bottom: 30px;
  transition: 0.2s;
  padding-left: 5px;
}

.input-box input::placeholder,
textarea::placeholder {
  color: var(--accent-color);
  font-size: 1rem;
  opacity: 0.8;
}

.input-box textarea::placeholder {
  padding-top: 0.3rem;
}

.input-box input:hover,
textarea:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.input-box input:focus,
textarea:focus {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}


.text-input {
  height: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--accent-color);
  padding: 0px 8px;
  color: var(--accent-color);
}

textarea {
  height: 5rem;
  border: none;
  border-bottom: solid 2px var(--accent-color);
  padding-top: 8px;
  background: transparent;
}

.contact-form .submit-btn {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  transition-property: background-color, color;
  transition: 0.2s linear;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: var(--accent-color);
  width: 100%;
  margin-bottom: 110px;
}

.submit-btn:hover {
  transition: 0.2s linear;
  transition-property: background-color, color;
  cursor: pointer;
  background-color: #533fd4;
}


/*=============== FOOTER ===============*/
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 20px;
}

.scroll-top-btn{
  display: flex;
  gap: 9px;
  width: fit-content;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  padding: 5px 18px;
  margin-inline: auto;
}

.scroll-top-btn__arrow-icon{
  --size: 19px;

  height: var(--size);
  width: var(--size);
}


/*=============== MEDIA QUERY ===============*/
@media(width >= 650px){
  .contact-form__inputs-field{
    display: flex;
    gap: 30px
  }
}

@media(width >= 900px){
  .content-sections {
    position: relative;
    background: var(--content-section-bg);
    color: var(--sections-font-clr);
    width: 100%;
    min-height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory; 
    overflow-y: scroll;
    scroll-behavior: smooth; 
    padding: 0 5%;
    padding-right: 4%;
    margin-top: 0px;
    z-index: 1;
  }

  .project-card {
    height: 230px;
  }


  .experience-section{
    padding-bottom: 0px;
  }

  .contact-section{
    padding-top: 109px !important; 
    padding-bottom: 100px;
  }

  .contact-form .submit-btn {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  footer{
    display: none;
  }

}

/*=============== MEDIA QUERY ===============*/
/* @media screen and (max-width: 1200px) {
  html {
    scroll-behavior: smooth;
  }
  .container {
    height: auto;
    flex-direction: column;
  }
  .portfolio {
    flex-direction: column;
    height: 100%;
    margin: 30px 0 100px;
  }
  .content {
    padding-bottom: 100px;
  }
  .header {
    width: 100%;
    height: 100%;
  }
  .content-card {
    padding: 100px 0 0;
  }
  .menu {
    flex-direction: row;
    position: fixed;
    bottom: 15px;
    z-index: 1000;
    width: auto;
    height: fit-content;
    border-radius: 50px;
    margin: 0;
  }
  .menu-icon {
    font-size: 2rem;
    margin: 0 15px;
  }
  .home h1 {
    font-size: 3rem;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 750px) {
  .d-grid {
    grid-template-columns: 1fr;
  }

  .menu-icon {
    font-size: 1.5rem;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 400px) {
    .content-card {
      margin: 0 30px;
    }
    .home h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
} */