/*=============== VARIABLES ===============*/
:root {
  --accent-color: #41339b;
  --background-color:  #0E2148;
  --main-profile-bg: #173264;
  --main-profile-font-clr: rgb(255, 255, 255);
  --content-section-bg: #e1e1e1;
  --sections-heading-font-hightlight: #41339b;
  --sections-font-clr: rgba(0, 0, 0, 0.76);
  --side-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.387);
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.content:hover::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}

/*=============== BASE ===============*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

h1 {
  line-height: 4rem;
}

h2 {
  line-height: 2rem;
  font-weight: normal;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body{
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  padding-top: 10px;
}

.main-wrapper {
  --wrapper-max-width: 1100px;
  --wrapper-padding: 6%;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  min-height: 100%;
  margin-inline: auto;
}

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 500px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}


@media(width >= 900px){
  body{
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .main-wrapper{
    flex-direction: row;
  }

  .portfolio {
    flex-direction: row;
  }
}
