/*=============== VARIABLES ===============*/
:root {
  --accent-color: #a8858f;
  --background-color: #302729;
  --background-color-2: #362b2e;
  --light-grey: rgb(194, 194, 194);
  --border-radius: 30px;
}

/*=============== SCROLLBAR ===============*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.content:hover::-webkit-scrollbar-thumb {
  background: var(--light-grey);
}

/*=============== BASE ===============*/

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

h1 {
  line-height: 4rem;
}

h2 {
  line-height: 2rem;
  font-weight: normal;
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.portfolio {
  display: flex;
  background: var(--background-color-2);
  height: 80vh;
  width: 85vw;
  max-width: 1200px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}


/*=============== Content Sections Container ===============*/
.content-sections {
  border-radius: var(--border-radius);
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.content-sections section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0 50px;
  /* border-bottom: 1px solid black; */
}

