.navigation-list {
  position: fixed;
  right: 3.4%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background: rgb(180, 180, 180);
  width: fit-content;
  max-height: 300px;
  margin-left: 20px;
  border-radius: 20px;
  padding: 12px 20px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-left: auto;
}

.navigation-list__icon {
  font-size: clamp(1rem, 7vw, 1.4rem);
  color: rgb(51, 51, 51);
}

.navigation-list__icon.active{
  color: var(--sections-heading-font-hightlight);
}

.navigation-list__icon:hover {
  color: var(--accent-color);
}

@media(width >= 900px){
  .navigation-list {
    position: relative;
    right: 0%;
    flex-direction: column;
    order: 2;
    padding: 20px 10px;
    opacity: 0;
    animation: fade-in 1.5s forwards;
    animation-delay: 3.8s;
  }
}


@keyframes fade-in {
  to{
    opacity: 1;
  }
}